<div class="container">
  <div class="form-background" >

    <div class="row justify-content-center">
        <div class="mt-5">
          <div  class="add-lac-heading" class="text-center" style="text-align: center;margin-top: 0rem;">
            <h1 class="add-lac-heading">Add New Lac</h1>
          </div>

          <form (ngSubmit)="onFormSubmit()" [formGroup]="form">
            <div class="form-grid">
              <!-- First Row - Three Columns -->
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" formControlName="title">
                <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="text-danger">
                  Title is required.
                </div>
              </div>

              <div class="form-group">
                <label for="original_amount">Amount awarded by LAO vide original award</label>
                <input type="number" class="form-control" formControlName="original_amount">
                <div *ngIf="form.get('original_amount')?.invalid && form.get('original_amount')?.touched" class="text-danger">
                  Original amount is required and must be a valid number.
                </div>
              </div>

                <div class="form-group">
                  <label for="village">Name of Village/Revenue Estate Name</label>
                  <input type="text" class="form-control" formControlName="village">
                </div>

                <div class="form-group">
                  <label for="notification_S4">Notification Date U/S4</label>
                  <input type="text" class="form-control" formControlName="notification_S4">
                </div>

                <!-- Second Row - Three Columns -->
                <div class="form-group">
                  <label for="notification_S6">Notification Date U/S6</label>
                  <input type="text" class="form-control" formControlName="notification_S6">
                </div>

                <div class="form-group">
                  <label for="award_date">Award No./Date</label>
                  <input type="date" class="form-control" formControlName="award_date">
                </div>

                <div class="form-group">
                  <label for="original_amount_of_Lac">Amount awarded by LAO vide original award</label>
                  <input type="number" class="form-control" formControlName="original_amount_of_Lac">
                </div>

                <!-- Third Row - Three Columns --->
                <div class="form-group">
                  <label for="detail">Award amount of petitioner, Whether amount taken by petitioner detail of same</label>
                  <input type="text" class="form-control" formControlName="detail">
                </div>
                <div class="form-group">
                  <label for="khasra">Khasra number/area measurement of petitioners land</label>
                  <input type="text" class="form-control" formControlName="khasra">
                </div>

                <div class="form-group">
                  <label for="receipt_date">Date of receipt of reference U/S 28A by LAC</label>
                  <input type="date" class="form-control" formControlName="receipt_date">
                </div>

                <!-- Fourth Row - Three Columns -->
                <div class="form-group">
                  <label for="application_lac">LAC case no. of ADJ relied by petitioner in application U/S 28A and rate</label>
                  <input type="text" class="form-control" formControlName="application_lac">
                </div>
                <div class="form-group">
                  <label for="adj_count_date">Date of Order passed by ADJ Count</label>
                  <input type="date" class="form-control" formControlName="adj_count_date">
                </div>
                <div class="form-group">
                  <label for="High_Court_RFA_order_No">High Court RFA order No./date and rate awarded (Filed by State landowners)</label>
                  <input type="text" formControlName="High_Court_RFA_order_No">
                </div>

                <!-- Fifth Row - Three Columns -->
                <div class="form-group">
                  <label for="filed_by_state">Supreme Court SLA order No./(filed by State)</label>
                  <input type="number" class="form-control" formControlName="filed_by_state">
                </div>
                <div class="form-group">
                  <label for="date_relied">Date of decision Of LAC and relied allowed</label>
                  <input type="date" class="form-control" formControlName="date_relied">
                </div>
                <div class="form-group">
                  <label for="compensation_paid">Compensation as per LAC award and whether it is paid</label>
                  <input type="text" class="form-control" formControlName="compensation_paid">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

