<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/img1.jpg" alt="LAC Portal"/>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2" style="color:whitesmoke;">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon style="color:whitesmoke;">dashboard</mat-icon> Dashboard
  </a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon  style="color:whitesmoke;" >add</mat-icon> Add New Lac
  </a>

</mat-nav-list>

