<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Haryana Shahari Vikas Pradhikaran <br />
            <!--- <span style="color: hsl(218, 81%, 75%)">for your business</span> --->
          </h1>
          <div class="container">
            <img class="img" src="assets/images/haryanChifM.jpg">
          </div>
          <h1>Namaskar</h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            I am happy to welcome you to the official portal of LAC.
            This portal is dedicated to the allotees of HSVP and to the citizens who wish to associate with HSVP.
            HSVP today becomes the leading organization in the country to have implemented various citizen centric
            e-governance initiatives to facilitate the G to C Services Any Where Any Time. These initiatives have been
            appreciated by Government of India on various occasions.
            The journey so far has been gratifying and we have reached a stage where our citizens can dream of hastle free
            services.
            I welcome and congratulate you all on the launch of this dynamic portal.
            As we promise to keep you informed and updated, we call for your active participation and association with
            HSVP. This Portal is important means to achieve good governance.
            Your feed back will be key to its success.
          </p>
        </div>


        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
          <div class="card bg-glass">
            <img class="logo-150" src="assets/images/img1.jpg" alt="logo">
            <h2 style="text-align: center;color: black;">LAC login</h2>
            <div class="card-body px-4 py-5 px-md-5">

              <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedlogin()">

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" formControlName="id"  id="form3Example3" class="form-control" placeholder="Enter Email">
                  <label class="form-label" for="form3Example3">username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" formControlName="password"  id="form3Example3" class="form-control" placeholder="Enter Password"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Submit button -->
                <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Login
                </button>
              </div>

                <!-- <div>
                  <button mat-raised-button color="primary">Login</button>
                  <a routerLink="/register" mat-raised-button color="accent">New User?</a>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>













     <!-- <form  [formGroup]="loginform" (ngSubmit)="proceedlogin()"></form> -->

       <!-- <div>
                  <button mat-raised-button color="primary">Login</button>
                  <a routerLink="/register" mat-raised-button color="accent">New User?</a>
                </div> -->

